* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;

}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url('../images/barber5.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.head-text {
    width: 90%;
    color: #333;
    position: absolute;
    top: 10%;
    left: 5%;
    text-align: center;
    
}

.head-text h1 {
    font-size: 50px;
}

@media(max-width: 700px) {
    .head-text h1 {
        font-size: 20px;
    }
 
}

.part-2 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.row-col {
    flex-basis: 31%;
    background: rgb(194, 192, 192);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.row-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.nav-list {
    font-size: 130%;
}

.nav-list li {
    float: right;
    list-style: none;
    margin: 20px 20px;
    position: relative;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(17, 16, 16);
}

.nav-list li::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(17, 16, 16);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.2s;
}

.nav-list li:hover:after {
    width: 100%;
}

footer {
    border-top: 1px solid #f1f1f1;
    box-shadow: 0px -2px 3px #f1f1f1;
    text-align: center;
    padding: 2rem;
}