@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic,CenturyGothic,AppleGothic,sans-serif';
    box-sizing: border-box;

}


header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #435058;
    padding: 0.5em 0 2em;
   
}

.logo {
   text-align: center;
}

.logo a {
    text-decoration: none;
    color: black;
}



.button-top {
    position: absolute;
    top: 50%;
    left: 5%;
    background-color: #fff;
    min-height: 40px;
    min-width: 100px;
}

.button-top:hover {
    background-color: #848C8E;
    transition: 0.2s;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a {
    display: inline-block;
    padding: 0.5em;
    color: black;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    color: #fff;
    text-decoration: underline;
}


.hero {
    max-width: 100%;
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/mm.jpg);
    background-position: top;
    background-size: cover;
}

.services-text {
    text-align: center;
    padding: 0.5em;
}

.services-container img {
    width: 33%;
}

.services-container {
    display: flex;
    flex-direction: row;
}

.prices-text {
    text-align: center;
    padding: 2em;
}

.price-row {
    
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}

.price-col {
    background: #BFB7B6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10% 15%;
    border-radius: 5px;
    text-align: center;
}

.price-col p {
    font-size: 22px;
}

.price-col h3 {
    font-size: 40px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.price-col ul li {
    list-style: none;
}


.rate-text {
    text-align: center;
    padding: 2em;
}



.rate-row {

    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}

.rate {
    background: #435058;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10% 15%;
    border-radius: 5px;
    text-align: center;
}

.rate p {
    font-size: 22px;
}

.rate h3 {
    font-size: 40px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.rate ul li {
    list-style: none;
}

footer {
    background: #435058;
    padding: 1em;
}

.footer-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-nav li {
    margin: 0 10px;
}

.footer-nav a {
    text-decoration: none;
    color: #BFB7B6;
    padding: 5px;
}

.footer-nav a:hover {
    color: #dcf763ff;
}

.footer-bottom {
    background: #435058;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}