* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    
}

.header {
   min-height: 100vh;
   width: 100%;
    background-image: url('../images/barber5.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.nav-list {
    font-size: 130%;
 }
 
 .nav-list li {
     float: right;
     list-style: none;
     margin: 20px 20px;
     position: relative;
 }
 
 .nav-list li a {
     text-decoration: none;
     color: rgb(17, 16, 16);
 }
 
 .nav-list li::after {
     content: '';
     height: 3px;
     width: 0;
     background: rgb(17, 16, 16);
     position: absolute;
     left: 0;
     bottom: -5px;
     transition: 0.2s;
 }
 
 .nav-list li:hover:after {
     width: 100%;
 }

   footer {
    border-top: 1px solid #f1f1f1;
    box-shadow: 0px -2px 3px #f1f1f1;
    text-align: center;
    padding: 2rem;
  }
  